.tippy-box {
	background-color: var(--bg-sub);
	color: var(--text-sub);
	border: 1px solid var(--border);
	height: 400px;
	overflow-y: auto;
}

.tippy-box .tippy-arrow{
	display: none;
}

.tippy-content{
	padding:30px;
  }

